.login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-form{
  width: 30%;
  height: 50%;

}
.back-button{

  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: relative;
  top: -44px;
  right: -45px;
}
